table {
    width: 100%;
}

td {
    width: 25%;
    height: 25%;
    text-align: center;
    padding: 5%;
}

#heartbreak {
    background-color: #b84e60;
}

#depression {
    background-color: #39546d;
}

#inspiration {
    background-color: #3FA840;
}

#selflove {
    background: #fc5b84;
}